/* general */
.wrapper {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #e6e6e6
}

h1,
h2,
h3,
a,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 8rem;
  color: yellow;
}

h1 span {
  color: white;
}

h2 {
  color: black;
}

p,
a {
  font-size: 2rem;
}

/* landing page */
.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-image: url(./landing-page-image.jpg);
  background-size: cover;
  background-position: center;
}

.landing-page-container {
  background-color: rgba(128, 128, 128, 0.185);
  width: 80%;
  height: 60vh;
  min-height: 400px;
}

.landing-page button {
  width: 150px;
  height: 50px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: black;
  color: yellow;
  margin: 50px;
  font-weight: 600;
}

.landing-page h2 {
  font-size: 3rem;
  padding: 50px;
}

.landing-page h2 span {
  color: yellow;
}

/* end of landing page */


/* header */
header {
  height: 40vh;
  min-height: 360px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  object-fit: contain;
  width: 32%;
}

.heading {
  width: 68%;
}

/* the navar */
.navbar.wrapper {
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar li {
  padding-left: 50px;
  margin-top: 20px;
  font-weight: 600;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

.nav-cart {
  cursor: pointer;
}

.navbar a {
  color: white;
  display: flex;
  align-items: center;
}

.cart-items-counter {
  background-color: red;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  position: absolute;
  top: 53px;
  right: -30px;
  z-index: 10;
}

.display-cart {
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.930);
  border: 2px solid yellow;
  position: absolute;
  top: 65px;

  right: 0;

  max-height: 650px;
  min-width: 300px;
  min-height: 150px;
  overflow: auto;
}

.display-cart li {
  padding: 0;
}

.display-cart button {
  width: 100%;
  height: 50px;
  background-color: black;
  color: yellow;
  font-weight: 600;

}

.display-cart li {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.display-cart p {
  font-size: 2rem;
}

.display-cart h3 {
  font-size: 2rem;
  width: 80%;
  margin-top: 40px;
}

.display-cart li img {
  width: 30%;
}

.name-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  width: 60%;
}

.subtotal {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

/* end of navbar */
/* end of header */


/* main */
main {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  min-height: 530px;
}

.item-container {
  width: calc((100% - 48px) / 3);
  height: 400px;
  border: 1px solid black;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.item-container:nth-child(3n-2) {
  margin-right: 20px;
}

.item-container:nth-child(3n) {
  margin-left: 20px;
}

main p {
  color: black;
}

main h2 {
  font-size: 2rem;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.buy-now-button {
  width: 100%;
  color: white;
  background-color: black;
  font-size: 2rem;
  height: 50px;
}

.buy-now-button:hover {
  background-color: rgba(0, 0, 0, 0.658);
  color: yellow;
}

/* end of main */



/* footer */
footer {
  background-color: black;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  border-top: 2px solid black;
}

.footer-bot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.juno {
  color: #eb3223;
}

/* end of footer */

/* socials */
.social-container {
  background: #eee;
  padding: 20px 50px;
}

.social-container h3 {
  color: black;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}

/* end of socials */


/* @media */
/* small desktop-tablets */
@media (max-width: 850px) {
  h1 {
    font-size: 5rem;
  }

  .item-container {
    width: calc((100% - 24px) / 2);
  }

  .item-container:nth-of-type(2n-1) {
    margin-right: 20px;
  }

  .item-container:nth-child(3n-2) {
    margin-right: inherit;
  }

  .item-container:nth-child(3n) {
    margin-left: inherit;
  }
}

/* mobiles */
@media (max-width: 500px) {
  h1 {
    font-size: 4rem;
  }

  .item-container {
    width: 100%;
  }

  .item-container:nth-of-type(2n-1) {
    margin-right: inherit;
  }
}

/* small mobiles */
@media (max-width: 370px) {
  h1 {
    font-size: 3rem;
  }
}